.about__wrapper {
  padding: 0 20px;
}

.about__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  font-weight: 400;
  color: $black;
}
