.block-address__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400px;
  color: $pre-black;
  text-transform: uppercase;
}

.block-address__point {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
