.promotion__wrapper {
  background: $accent-green url("../../img/promotion_bg_image.jpg") no-repeat center;
  margin: 0 20px;
  padding: 59px 61px 43px;
}

.promotion__text {
  @include font-options(16px, 20px, $bg-color);
}
