$accent-green: #68b738;
$light-grey: #f2f2f2;
$special-grey: #ebebeb;
$grey: #cdcdcd;
$dark-grey: #666666;
$accent-grey: #444444;
$light-black: #222222;
$pre-black: #111111;
$black: #000000;
$error: #ff8282;
$special-green: #5eaa2f;
$bg-color: #ffffff;
